.alert-wrap
  .alert.alert-success.fade
    .alert-title Wow! Everything worked!
    .text-muted Your account has been saved!

  .alert.alert-info.fade
    .alert-title Did you know?
    .text-muted Here is something that you might like to know.

  .alert.alert-warning.fade
    .alert-title Uh oh, something went wrong
    .text-muted Sorry! There was a problem with your request.

  .alert.alert-danger.fade
    .alert-title I'm so sorry…
    .text-muted Your account has been deleted and can't be restored.
