.items.items--row
  .items__wrap
    mixin item
      .items__item
        .items__item-img
          img(src="assets/img/note.webp", alt="")
        .items__item-info
          a(href="#").items__item-name Merry-Go-Round of Life: Howl's Moving Castle Piano Tutorial
          .items__item-add-info
            span 
              i.icon-clock
              | 03:00
            span 
              i.icon-page
              |  7 стр (4 части)
        a(href="#").btn.btn--mc Легкий
    +item    
    +item    
    +item    
    +item    
    +item    