.items {
  @include adaptiv('margin-bottom', 35, 20, 0);

  &:last-child {
    margin-bottom: 0;
  }

  &--row {
    @include adaptiv('margin-bottom', 5, 20, 0);

    .items__wrap {
      @include aistr;
      flex-wrap: wrap;

      @include lg {
        flex-wrap: wrap;
      }

      @include sm {
        justify-content: space-between;
      }

      .items__item {
        width: calc(20% - 18px);
        margin-bottom: rem(20);
        margin-right: rem(22);

        @include lg {
          width: calc(25% - 18px);
          margin-right: rem(24);
        }

        @include md {
          width: calc(33% - 5px);
          margin-right: rem(10);
        }

        @include sm {
          width: calc(50% - 5px);
          margin-right: 0 !important;
        }

        @media (max-width: 370px) {
          width: 100% !important;
        }


        &:nth-child(5n) {
          margin-right: 0;

          @include lg {
            margin-right: rem(22);
          }

          @include md {
            margin-right: rem(10);
          }
        }

        &:nth-child(4n) {
          @include lg {
            margin-right: 0;
          }

          @include md {
            margin-right: rem(10);
          }
        }

        &:nth-child(3n) {
          @include md {
            margin-right: 0;
          }
        }

        &:nth-child(2n) {
          @include sm {
            margin-right: 0;
          }
        }



      }
    }
  }

  &--column {
    .items__wrap {
      @include xs {
        display: flex;
        flex-wrap: wrap;
      }

    }

    .items__item {
      @include aic;
      margin-bottom: rem(15);

      @include xs {
        width: calc(50% - 5px);
        flex-direction: column;
      }

      @media (max-width: 370px) {
        width: 100%;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    .items__item-img {
      max-width: rem(125);
      width: 100%;
      @include adaptiv('margin-right', 24, 10, 0);

      @include xs {
        max-width: 100%;
        margin-right: 0;
      }
    }

    .items__item-add-info {
      flex-direction: column;
      align-items: start;

      @include xs {
        flex-direction: row;
      }
    }
  }

  &__wrap {
    i {
      color: $mc;
      margin-right: rem(5);
    }
  }

  &__item {
    padding: rem(10);
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.1);
    border-radius: rem(10);

    .btn {
      display: inline-flex;
      border-radius: rem(10);
      margin-right: rem(5);
      font-size: rem(10);
      min-height: rem(20);
      padding: rem(5) rem(10);
      margin-top: rem(10) !important;

      &:last-child {
        margin: 0;
      }
    }
  }

  &__item-name {
    @include adaptiv('font-size', 14, 12, 0);
    margin-bottom: rem(10);
    color: $mc;
    transition: $tr;

    &:hover {
      color: $sc;
    }
  }

  &__item-add-author {
    color: $bc;
    font-size: rem(12);
    font-weight: 600;
    margin-top: rem(10);
  }

  &__item-add-info {
    color: #7e7e7e;
    font-size: rem(10);
    font-weight: 600;
    @include aic-jfcsb;

    span {
      margin-top: rem(10);
      @include aic;
      margin-right: rem(10);

      &:last-child {
        margin-right: 0;
      }
    }
  }
}