extends layout/main/main
block title
  | found
block main
  .wrapper
    .content
      include includes/header/header
      
      .content-wrap
        h2.title Найдено по запросу 
          span “g minor bach”
        include includes/items-column


      
 

     


  include includes/scripts 
