extends layout/main/main
block title
  | main
block main
  .wrapper
    .content
      include includes/header/header-dropdown
      .content-wrap
        h2.title Для начинающих
        include includes/items-row
        h2.title Для продолжающих
        include includes/items-row
        h2.title Для продвинутых
        include includes/items-row
 
     
      include includes/preloader
      include includes/alert
     


  include includes/scripts 
